:root {
  --max-width: 1100px;
  --border-radius: 12px;

  --font-mono: 'montserrat','Poppins', "Fira Code", "JetBrains Mono", "IBM Plex Mono",
    "Space Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace",
    "Source Code Pro", "Fira Mono", "Droid Sans Mono", monospace;

  --font-size: 100%;

  --fs-xl: clamp(3.5rem, 12vw + 1rem, 6rem);
  /* --fs-xl: 7rem; */
  --fs-600: 2rem;
  --fs-500: 1.25rem;
  --fs-400: 1.125rem;
  --fs-200: 1rem;

  /* MQ=media query */
  --fs-MQxl: 5rem;
  --fs-MQ600: 1rem;
  --fs-500: 1.25rem;
  --fs-MQ400: 0.7rem;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  /* --card-rgb: 32, 68, 79; */
  --card-border-rgb: 32, 68, 79;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-mono);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;

}



a {
  color: inherit;
  text-decoration: none;
}

/* TO CHECK AND EDIT ACCORDINGLY */
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

p {
  word-spacing: 10px;
  line-height: 1.6; 
  color : #20444F;

}