.section {
  min-height: 100vh;
  padding: 1rem;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; */
  /* padding: 6rem; */
}

.banner {
  padding: 1.3em;
  margin-left: 10vw;
  /* margin left when "upcoming" nav link is present  */
  /* margin-left: 18vw; */
}

.banner > h1 {
  font-size: var(--fs-xl);
}

/* .music {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

.iframe {
  gap: 1em;
}

.single {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  transition: transform 200ms ease-in-out;
  /* overflow: hidden; */
  /* width: auto; */
  /* max-width: 800px; */
  /* width: 100%; */
  /* height: auto; */
  /* position: relative; */
  /* don't need max width and height because the 800 x 800 ratio is set in the Newsingle component */
  /* max-width: 1000px;
  max-height: 1000px;  */
}
/* .single :hover {
  transition: transform 200ms ease-in-out;
  transform: scale(1.05);
 
} */

.single img:hover {
  transition: transform 200ms ease-in-out;
  transform: scale(1.05);
}

/* .wrapper {
  width: 100%;
  height: 0%;
  padding-bottom: 100%; */
/* padding-bottom: max(800px,70%); */
/* padding-bottom: clamp(56.25%, 100%, 100%); */
/* position: relative;
  display: flex;
  justify-content: center;
} */

.wrapper {
  height: 8%;
  display: grid;
  place-content: center;
  grid-template-columns: minmax(300px, 600px);
  /* change video size below */
}

.single iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  align-self: center;
}

.single wrapper {
  width: 70%;
}

.card {
  padding: 1rem 1rem;
  height: 5vh;
}
.card_socials {
  padding: 0.5rem 0.3rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
}
.nav {
  display: flex;
}
.nav_routes {
  display: flex;
  justify-content: space-between;
  /* margin-right: 2rem; */
}

.nav_routes a:current {
  background-color: yellow;
}

.nav_routes a:hover {
font-weight: 600;}


.socials {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: auto;
  /* align-items: center; */
}
.socials_vertical {
  display: flex;
}
.socials_horizontal {
  display: flex;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* padding: 4rem; */
}

.text {
  font-size: var(--fs-500);
  font-weight: 300;
  padding: 1rem;
  height: auto;
  text-align: justify;
  text-indent: 50px;
  line-height: 1.5;
  height: auto;
  padding: 3rem;
  /* letter-spacing: 2.5px; */
}

.form_item {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin: 0.5rem;
  /* justify-content: space-between; */
  /* width: 20em; */
  /* height: 3em; */
  /* padding: 1rem; */
}
.input {
  width: 3em;
}

.contact_form {
  padding: 3rem;
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: column;
  font-size: var(--fs-500);
  font-weight: 600;
}

.form_input {
  padding: 0.5em;
  height: 3em;
  width: 20em;
}

.form_input_textarea {
  padding: 0.5em;
  height: 10em;
  width: 20em;
  /* resize: none; */
}

.contact {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  /* padding: 4rem; */
}

.contact_btn {
  color: black;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

.contact_btn:hover,
.contact_btn:active {
  letter-spacing: 1px;
  font-weight: 700;
}

.contact_form_feedback {
  text-align: center;
  font-size: var(--fs-500);
  padding: 1rem;
  margin-top: 1rem;
}
/* Enable hover only on non-touch devices */

@media (hover: hover) and (pointer: fine) {
  .card:hover,
  .card_socials:hover {
    background: rgba(var(--card-rgb), 0.1);
    outline: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span,
  .card_socials:hover span {
    transform: translateX(4px);
  }
}

/* Mobile */
/* find a better fix for the navbar responsiveness (that a break at 1000px) */
/* @media (max-width: 767px) { */
@media (max-width: 1000px) {
  .content {
    padding: 1rem;
  }

  .nav_routes {
    width: 100%;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
  }
  .banner {
    margin: 0vh;
  }
  .banner > h1 {
    text-align: center;
    font-size: var(--fs-MQxl);
  }

  .socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3rem;
    padding: 1rem;
  }

  .single {
    max-width: 100%;
  }

  .card {
    height: 0vh;
    font-size: var(--fs-MQ600);
  }

  .text {
    font-size: var(--fs-MQ600);
    padding: 1em;
  }
  .contact {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  /* TO CHECK AND EDIT AS WEBSITE DEVELOPS */
  /* .text p,
  .text div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  } */

  /* .text p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  } */

  /* .text main {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  } */
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}
